*{
    padding: 0;
    margin: 0;
}

body {
    justify-content: center;
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }

h1 {
    text-align: center;
}
hr {
    margin: auto;
    size-adjust: 10px;
}

h2 {
    margin-bottom: 25px;
    font-size: 40px;
    *text-align: center;
}

#productos {
    width: 75%;
    margin:auto;
}

#productos p {
    
    font-size: xx-large;
    margin: 15px 0px;
    margin-right: 220px;
}

.colum-row {
   display: flex;
   margin-bottom: 25px;
   
}

.colum-row img:hover {
    scale: 1.7;
}