*{
    padding: o;
    margin: 0;
}

body {
    justify-content: center;
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }

h1 {
    text-align: center;
}

hr {
    margin: auto;
    size-adjust: 10px;
}

main {
    width: 90vw;
    display: flex;
    margin: auto;
    *background-color: rgb(218, 170, 153);
    justify-content: space-around;
    
}

/* aside {
    width: 20%;
}

#esdh {
    margin: 30px;
}

#esdh img {
    width: 100%;
}

#bufy {
    margin: 30px;
}

#bufy img {
    width: 100%;
} */

h2 {
    margin-bottom: 25px;
    font-size: 40px;
    *text-align: center;
}

#productos {
    margin: 70px;
    width: 75%;
}

#productos p {
    width: 90%;
    font-size: 24px;
    margin: 15px 0px;
    margin-right: 220px;
    
}

.colum-row {
    display: flex;
    flex-wrap: wrap;
    
 }
 
 .colum-row img {
     width: 300px;
 } 

footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
}

footer p {
    color: white;
}

/* MEDIA QUERY PARA GENERAR BEACKPOINT PARA APORTE EN LA RESPONSIVIDAD */
@media (max-width: 1020px)
{
    aside{
        display: none;
    }
    
    #principal{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   
    #productos p {
        font-size: 18px;
    }
}